.container {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.route-links {
  list-style-type: none;
}

.route-links li a{
  color: black;
}

.route-links li a:hover {
  color: blue;
}